.post h1 {
  @apply  mt-12 text-xl font-normal text-fluent-10 sm:text-2xl
  dark:font-medium dark:text-fluent-200;
}

.post h2 {
  @apply mt-10 text-lg text-fluent-10 sm:text-xl
  dark:text-fluent-200;
}

.post p {
  @apply mt-2 mb-2 text-sm text-fluent-50 sm:text-base;
}

.post strong {
  @apply text-fluent-10 font-medium
  dark:font-medium dark:text-fluent-220;
}

.post a {
  @apply underline-offset-1 hover:underline text-blue-400
  dark:text-blue-500;
}

.post pre {
  @apply mt-4 overflow-scroll rounded-md bg-fluent-200 ring-1 ring-fluent-180
  dark:bg-white px-4 py-5 dark:ring-fluent-40;
}

.post pre > code {
  @apply text-xs !font-normal text-fluent-50 sm:text-sm;
  font-family: 'fira Code', monospace !important;
}

.post h4 {
  @apply text-fluent-130 text-sm mb-6 font-medium;
}

.post h5 {
  @apply relative mx-2.5 mt-8 mb-0 rounded-t-sm font-normal
  bg-fluent-210 ring-[11px] ring-fluent-210
  outline outline-offset-[10px] outline-1 outline-fluent-170
  dark:bg-fluent-20 text-blue-400 text-sm dark:ring-fluent-20;
}

.post h5::after,
.post h5::before {
  content: "";
  @apply absolute right-1 top-1 h-2 w-2 rounded-full bg-red-500 sm:h-2.5 sm:w-2.5;
}

.post h5::after {
  @apply right-5 bg-yellow-600;
}

.post figcaption {
  @apply relative mx-2 mt-6 mb-0 rounded-t-sm font-medium
  bg-fluent-210 ring-[10px] ring-fluent-210
  outline outline-offset-[8px] outline-1 outline-fluent-170
  dark:bg-fluent-20 text-blue-400 text-sm dark:ring-fluent-20;
}

.post figcaption::after,
.post figcaption::before {
  content: "";
  @apply absolute right-1 top-1 h-2 w-2 rounded-full bg-red-500 sm:h-2.5 sm:w-2.5;
}

.post figcaption::after {
  @apply right-5 bg-yellow-600;
}

.post p > code,
.post li > code,
.post th > code,
.post td > code {
  @apply text-xs sm:text-sm;
  color: theme("colors.rose.400");
  font-family: 'fira Code', monospace;
}

.post p > code::after,
.post p > code::before,
.post li > code::after,
.post li > code::before,
.post th > code::after,
.post th > code::before,
.post td > code::after,
.post td > code::before {
  content: "`";
  color: theme("colors.rose.400");
}

.post ul {
  @apply my-5;
}

.post li {
  @apply relative mb-2 ml-8 text-sm text-fluent-50 sm:text-base
  dark:text-fluent-130;
}

.post li::before {
  content: "";
  @apply absolute top-2 -left-4 h-1.5 w-1.5 bg-white rounded-full;
}

.post blockquote {
  @apply my-5 rounded-md px-4 py-2 text-sm  ring-1 bg-slate-800 text-fluent-60 ring-slate-700
  dark:bg-slate-200 dark:text-fluent-200 dark:ring-slate-300;
}

.post table {
  @apply my-6 overflow-hidden rounded-md text-xs  ring-1 text-fluent-60 ring-fluent-180 sm:text-sm
  dark:text-fluent-130 dark:ring-fluent-50 w-full;
}

.post thead {
  @apply font-extralight ring-1 bg-fluent-200 text-fluent-100 ring-fluent-180
  dark:bg-white;
}

.post tr {
  @apply ring-1 dark:ring-fluent-40 ring-fluent-200;
}

.post td,
.post th {
  @apply py-2 px-3 text-left;
}